<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>分享笔记</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport'/>
    <link rel="icon" href="../static/src/assets/img/icon.ico" type="image/x-icon"/>

    <!-- vue CDN -->
    <!--    <link rel="stylesheet" href="../static/src/assets/editor.md-master/css/editormd.css"/>-->
    <script src="../static/src/assets/js/jquery.min.js"></script>
    <!--    <script src="../static/src/assets/editor.md-master/editormd.js?v=1"></script>-->
    <!--    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <!-- Fonts and icons -->
    <script src="../static/src/assets/js/plugin/webfont/webfont.min.js"></script>
    <script src="../static/src/m_js/forget.js"></script>
    <script>
        WebFont.load({
            google: {"families": ["Open+Sans:300,400,600,700"]},
            custom: {
                "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"],
                urls: ['../static/src/assets/css/fonts.css']
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="../static/src/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/src/assets/css/azzara.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="../static/src/assets/css/demo.css">
    <!--    <script src="../static/src/m_js/write.js"></script>-->
</head>

<!--<body onload="initPage()">-->
<body>
<div class="wrapper" id="app1">
    <!--
			Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
		-->
    <div class="main-header" data-background-color="purple">
        <!-- Logo Header -->
        <div class="logo-header">

            <a href="index.html" class="logo">
                <img src="../static/src/assets/img/logoNotePlus.png" alt="navbar brand" class="navbar-brand"
                     width="150px">
            </a>


        </div>
        <!-- End Logo Header -->

        <!-- Navbar Header -->

        <!-- End Navbar -->
    </div>

    <!-- Sidebar -->

    <!-- End Sidebar -->


    <div class="">
        <div class="content">
            <div class="page-inner" style="padding-top: 100px;padding-left: 15%;padding-right: 15%;">
                <!--					<h4 class="page-title">个人信息</h4>-->
                <div class="row">
                    <div>
                        <h2><b>这是标题</b></h2>
                    </div>
                    <div>
                        <p>
                            这皇帝回封IPwhip哇嘿嘿iO发hi为花覅Hi好被访问hifoe完毕部分
                            这皇帝回封IPwhip哇嘿嘿iO发hi为花覅Hi好被访问hifoe完毕部分这皇帝回封IPwhip哇嘿嘿iO发hi为花覅Hi好被访问hifoe完毕部分这皇帝回封IPwhip哇嘿嘿iO发hi为花覅Hi好被访问hifoe完毕部分这皇帝回封IPwhip哇嘿嘿iO发hi为花覅Hi好被访问hifoe完毕部分这皇帝回封IPwhip哇嘿嘿iO发hi为花覅Hi好被访问hifoe完毕部分这皇帝回封IPwhip哇嘿嘿iO发hi为花覅Hi好被访问hifoe完毕部分这皇帝回封IPwhip哇嘿嘿iO发hi为花覅Hi好被访问hifoe完毕部分这皇帝回封IPwhip哇嘿嘿iO发hi为花覅Hi好被访问hifoe完毕部分这皇帝回封IPwhip哇嘿嘿iO发hi为花覅Hi好被访问hifoe完毕部分这皇帝回封IPwhip哇嘿嘿iO发hi为花覅Hi好被访问hifoe完毕部分这皇帝回封IPwhip哇嘿嘿iO发hi为花覅Hi好被访问hifoe完毕部分这皇帝回封IPwhip哇嘿嘿iO发hi为花覅Hi好被访问hifoe完毕部分这皇帝回封IPwhip哇嘿嘿iO发hi为花覅Hi好被访问hifoe完毕部分
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
</div>


<!--   Core JS Files   -->
<script src="../static/src/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="../static/src/assets/js/core/popper.min.js"></script>
<script src="../static/src/assets/js/core/bootstrap.min.js"></script>

<!-- jQuery UI -->
<script src="../static/src/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="../static/src/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

<!-- jQuery Scrollbar -->
<script src="../static/src/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

<!-- Sweet Alert -->
<script src="../static/src/assets/js/plugin/sweetalert/sweetalert.min.js"></script>


<!-- Moment JS -->
<!-- <script src="../static/src/assets/js/plugin/moment/moment.min.js"></script> -->

<!-- Chart JS -->
<!-- <script src="../static/src/assets/js/plugin/chart.js/chart.min.js"></script> -->

<!-- jQuery Sparkline -->
<!-- <script src="../static/src/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script> -->

<!-- Chart Circle -->
<!-- <script src="../static/src/assets/js/plugin/chart-circle/circles.min.js"></script> -->

<!-- Datatables -->
<!-- <script src="../static/src/assets/js/plugin/datatables/datatables.min.js"></script> -->

<!-- Bootstrap Notify -->
<script src="../static/src/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

<!-- Bootstrap Toggle -->
<script src="../static/src/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>

<!-- jQuery Vector Maps -->
<!-- <script src="../static/src/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script> -->
<!-- <script src="../static/src/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script> -->

<!-- Google Maps Plugin -->
<!-- <script src="../static/src/assets/js/plugin/gmaps/gmaps.js"></script> -->

<!-- Sweet Alert -->
<script src="../static/src/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

<!-- Azzara JS -->
<script src="../static/src/assets/js/ready.min.js"></script>

<!-- Azzara DEMO methods, don't include it in your project! -->
<!-- <script src="../static/src/assets/js/setting-demo.js"></script> -->
<!-- <script src="../static/src/assets/js/demo.js"></script> -->


<script>
    //== Class definition

    var SweetAlert2Demo = function () {

        //== Demos
        var initDemos = function () {
            //== Sweetalert Demo 1
            $('#alert_demo_1').click(function (e) {
                swal('Good job!', {
                    buttons: {
                        confirm: {
                            className: 'btn btn-success'
                        }
                    },
                });
            });

            //== Sweetalert Demo 2
            $('#alert_demo_2').click(function (e) {
                swal("Here's the title!", "...and here's the text!", {
                    buttons: {
                        confirm: {
                            className: 'btn btn-success'
                        }
                    },
                });
            });

            //== Sweetalert Demo 3
            $('#alert_demo_3_1').click(function (e) {
                swal("Good job!", "You clicked the button!", {
                    icon: "warning",
                    buttons: {
                        confirm: {
                            className: 'btn btn-warning'
                        }
                    },
                });
            });

            $('#alert_demo_3_2').click(function (e) {
                swal("Good job!", "You clicked the button!", {
                    icon: "error",
                    buttons: {
                        confirm: {
                            className: 'btn btn-danger'
                        }
                    },
                });
            });

            $('#alert_demo_3_3').click(function (e) {
                swal("Good job!", "You clicked the button!", {
                    icon: "success",
                    buttons: {
                        confirm: {
                            className: 'btn btn-success'
                        }
                    },
                });
            });

            $('#alert_demo_3_4').click(function (e) {
                swal("Good job!", "You clicked the button!", {
                    icon: "info",
                    buttons: {
                        confirm: {
                            className: 'btn btn-info'
                        }
                    },
                });
            });

            //== Sweetalert Demo 4
            $('#alert_demo_4').click(function (e) {
                swal({
                    title: "Good job!",
                    text: "You clicked the button!",
                    icon: "success",
                    buttons: {
                        confirm: {
                            text: "Confirm Me",
                            value: true,
                            visible: true,
                            className: "btn btn-success",
                            closeModal: true
                        }
                    }
                });
            });

            $('#alert_demo_5').click(function (e) {
                swal({
                    title: 'Input Something',
                    html: '<br><input class="form-control" placeholder="Input Something" id="input-field">',
                    content: {
                        element: "input",
                        attributes: {
                            placeholder: "Input Something",
                            type: "text",
                            id: "input-field",
                            className: "form-control"
                        },
                    },
                    buttons: {
                        cancel: {
                            visible: true,
                            className: 'btn btn-danger'
                        },
                        confirm: {
                            className: 'btn btn-success'
                        }
                    },
                }).then(
                    function () {
                        swal("", "You entered : " + $('#input-field').val(), "success");
                    }
                );
            });

            $('#alert_demo_6').click(function (e) {
                swal("This modal will disappear soon!", {
                    buttons: false,
                    timer: 3000,
                });
            });

            $('#alert_demo_7').click(function (e) {
                swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    buttons: {
                        confirm: {
                            text: 'Yes, delete it!',
                            className: 'btn btn-success'
                        },
                        cancel: {
                            visible: true,
                            className: 'btn btn-danger'
                        }
                    }
                }).then((Delete) => {
                    if (Delete) {
                        swal({
                            title: 'Deleted!',
                            text: 'Your file has been deleted.',
                            type: 'success',
                            buttons: {
                                confirm: {
                                    className: 'btn btn-success'
                                }
                            }
                        });
                    } else {
                        swal.close();
                    }
                });
            });

            $('#pills-contact-tab').click(function (e) {
                swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    buttons: {
                        cancel: {
                            visible: true,
                            text: 'No, cancel!',
                            className: 'btn btn-danger'
                        },
                        confirm: {
                            text: 'Yes, delete it!',
                            className: 'btn btn-success'
                        }
                    }
                }).then((willDelete) => {
                    if (willDelete) {
                        swal("Poof! Your imaginary file has been deleted!", {
                            icon: "success",
                            buttons: {
                                confirm: {
                                    className: 'btn btn-success'
                                }
                            }
                        });
                    } else {
                        swal("Your imaginary file is safe!", {
                            buttons: {
                                confirm: {
                                    className: 'btn btn-success'
                                }
                            }
                        });
                    }
                });
            })

        };

        return {
            //== Init
            init: function () {
                initDemos();
            },
        };
    }();

    //== Class Initialization
    jQuery(document).ready(function () {
        SweetAlert2Demo.init();
    });
</script>
</body>

</html>